[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/archie-zola"]
	path = themes/archie-zola
	url = https://github.com/XXXMrG/archie-zola.git
[submodule "themes/zola-hook"]
	path = themes/zola-hook
	url = https://github.com/InputUsername/zola-hook
[submodule "apollo"]
	path = apollo
	url = https://github.com/not-matthias/apollo
